# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# IDEA/Webstorm project files
.idea
*.iml

#dist folder
dist

#coverage folder
coverage

coverage.lcov

# Mac files
.DS_Store

.nyc_output
